.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sudoku-grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 8px;
}

.card {
  background-color: #ffffff;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 4px;
}
.block {
  display: block;
}
.card.disabled {
  pointer-events: none;
  opacity: 0.1;
  background-color: gray;
  
}